p {
  margin: 0;
}

.warning-event{
    font-size: 10px;
    color: red;
    margin: 0;
    padding: 0;
    position: absolute;
}
.warning-event-time{
    font-size: 10px;
    color: red;
    margin: 0;
    padding: 0;
  }
.warning-event-name{
    font-size: 10px;
    color: red;
    margin: 0;
    padding: 0;
    position: absolute;
}
.container {
  background-color: white;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;


  .textarea-wrapper {
    flex: 1;
    height: 100%;

    .state-normal{
      border: 1px solid #444;
    }
  }

  textarea {
    width: 100%;
    resize: none;
    height: 100%;
    padding: 4px 4px;
    border: 1px solid #444;
    border-radius: 10px;
    font-size: 0.95em;
    font-family: 'Noto Sans JP', sans-serif;
    background-color: rgb(240, 240, 240);

  }

  .title {
    flex-basis: 90px;
    margin-right: 40px;
  }
}

.name {
  margin-bottom: 20px;
}

.name_top {
  display: flex;
  align-items: center;
  justify-content: space-between;

  input {
    display: flex;
    flex: 1;
    height: 30px;
    padding: 0 14px;
    border: 1px solid #444;
    border-radius: 25px;
    background-color: rgb(240, 240, 240);


  }

}

.name_description {
  text-align: right;
  color: rgb(80, 80, 80);
  font-size: 0.75em;
  z-index: 0;
}

.main_date {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;

  .right-section {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: flex-end;
    justify-content: space-between;

    input{
    margin-left: 10px;

    }
  }
}

.main_place {
  display: flex;
  justify-content: space-between;

  .right_section {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;

    select {
      border: 1px solid #444;
      font-family: 'Noto Sans JP', sans-serif;
      background-color: rgb(240, 240, 240);
    }
  }
}

.place_description {
  margin-bottom: 20px;
  text-align: right;
  color: rgb(80, 80, 80);
}

.coordinates {
  font-size: 0.9em;
}

.main_task {
  display: flex;
  flex: 1;
  margin-bottom: 20px;
}

.main_goals {
  display: flex;
  flex: 1;
  margin-bottom: 20px;
}

.bottom {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;

  button {
    width: 160px;
  }
}

@media (max-width: 1200px) {
  .container {
    .title {
      margin-right: 20px;
    }
  }
}

@media (max-width: 1024px) {
  .container {
    .title {
      margin-right: 10px;
    }
  }
}
