.calendar{
background: white;
width: 50%;
margin-right: 50px;
  .wrapper-calendar-mounth{
  display: flex;
  flex-direction: column;
  height: 100%;
  }

  .button-click-calendar:hover{
    cursor: pointer;
    color: #5C9F61;
  }
  .head-calendar{
    background: rgba(255,255,255, 0.9);
    display: flex;
    justify-content: space-around;
  }
  .wrapper-day-for-week{
    display: grid;
    background: rgb(255,255,255);
    grid-template-rows: repeat(1, 20px);
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    padding: 0px 10px;
    background:  #5C9F61;
    color: white;
    text-align: center;

  }
  .wrapper-day-calendar{
    background: rgb(255,255,255);
    padding: 0px 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    height: 100%;
    padding-bottom: 10px;

    .day{
      div{
        background: #5C9F61;
        color: white;
      }
    }
    div{
      box-shadow:0 0 0 1px grey;
      }
    .now-day{
      background: rgba(92, 159, 97, 0.3);
    }
  }
}
