.game_wrapper {
  width: 600px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 5px;
  background-color: rgb(200, 200, 200);
}

.full_screen {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  border-radius: 0;
  z-index: 4;

  .full_screen_btn {
    background-image: url('../../../modules/assets/game/full-screen-exit.svg');
  }
}

.start_btn {
  width: 140px;
  height: 40px;
  position: absolute;
  border: 0;
  border-radius: 5px;
  background-color: #5c9f61;
  color: white;
  font-size: 1.1em;
}

.full_screen_btn {
  width: 36px;
  height: 36px;
  position: absolute;
  top: 8px;
  right: 8px;
  border: 0;
  background: url('../../../modules/assets/game/full-screen.svg') 50% 50% / 80%
    no-repeat;
}

.game_container {
}
