p {
  margin: 0;
}

.main {
  background-color: white;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}

.owner {
  display: flex;
  justify-content: space-between;
}

.user_pic {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #d7d7d7;
}

.user_pic_img {
  width: 100%;
  height: 100%;
}

.user_name {
  margin-bottom: 20px;
  font-size: 1.2em;
  font-weight: 700;
}

.tasks,
.goals {
}

.tasks_title,
.goals_title {
  font-size: 1.1em;
  margin-bottom: 10px;
}

.bottom {
  display: flex;
  justify-content: flex-start;
}

.connect_block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.connect_title {
  font-size: 0.9em;
  margin-bottom: 10px;
}

.connect_btn {
  width: 140px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  border-radius: 5px;
  color: white;
  background-color: #5c9f61;
  transition: 0.1s;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}

@media (max-width: 1200px) {
}

@media (max-width: 1024px) {
}

@media (max-width: 900px) {
}
