.color_yellow {
  background: rgb(242, 205, 81);
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(242, 205, 81, 0.8);
  border: 1px solid rgba(132, 132, 132, 0.4);
}
.color_green {
  background: rgb(92, 159, 97);
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(92, 159, 97, 0.8);
  border: 1px solid rgba(132, 132, 132, 0.4);
}
.color_red {
  background: rgb(194, 83, 72);
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(194, 83, 72, 0.8);
  border: 1px solid rgba(132, 132, 132, 0.4);
}
