.footer {
  width: 50px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  .profile-btn,
  .github-btn {
    width: 30px;
    height: 30px;
    border: 0;
    background: 0;
    cursor: pointer;
    transition: 0.15s;

    &:hover {
      opacity: 0.7;
    }
  }

  .profile-btn {
    margin-top: 5px;
    background: url('../../modules/assets/enter.svg') 0 0 / cover no-repeat;
  }

  .github-btn {
    margin-bottom: 5px;
    background: url('../../modules/assets/github-logo.svg') 0 0 / cover
      no-repeat;
  }
}
