.footer {
  width: 50px;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.github_btn {
  width: 30px;
  height: 30px;
  border: 0;
  background: 0;
  cursor: pointer;
  transition: 0.15s;
  margin-bottom: 5px;
  background: url('../../modules/assets/github-logo.svg') 0 0 / cover no-repeat;

  &:hover {
    opacity: 0.7;
  }
}
.ButtonIconUser{
  border-style: none;
  background: white;
  .iconUser{
    width: 35px;
    border-style: none;
  }
}

@media (max-width: 1200px) {
}

@media (max-width: 1024px) {
}

@media (max-width: 900px) {
}

@media (max-width: 768px) {
  .footer {
    display: none;
  }
}
